div{
    width: 140px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 20px;
    ;
}

.box1 {
    background: #343F50;
    box-shadow: 0 0 0 3px #000;
    border-top: 3px solid #4a5568;
    border-left: 3px solid #4a5568;
  
    
}
.box2{
    
    background:linear-gradient(to right, #894df6, #386af1);
    border: 5px dashed  #e6d6ff;
    border-radius: 35px;
    /*개별속성은 단축속성 이후에 주어야 함*/
    background-clip: padding-box;
}

/*box2 가상요소와 position을 이용하여 푸는법

.box2{
    color:#fff;
    border-radius : 24px;
    border: 5px dashed #red;
    position:relative;
}

.box2::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%
    position:absolute;
    top:0;
    left: 0;
    z-index: -1;
}

*/

.box3{
    border-bottom-left-radius: 35px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid #D3D1CB;
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.2);
    color: black;
}


/*background-color: #94bbe9; //blue
background-color : rgb(55, 53, 47); //black
 background-color: #82C7FF; //mac blue
background-color: #8ab3f2

background-color: rgba(348, 75, 97, 100) /red
box-shadow: 0 2px 10px 2px #00d4ff ; /blue
 box-shadow: 0 2px 10px 2px #ff8cfe ; /red
*/