
article{
    width: 400px;
    border: 2px solid gray;
}

h1{
    padding-left: 55px;
    font-size: 10px;
    font-weight: 450;
}

.first{
   
    overflow: hidden;
    width: 400px;
    
}

.second{
   
    overflow: hidden;
    width: 400px;
    height: 65px;
    
}

.login-box{
    width: 350px;
    height: 30px;
    border: 2px solid blue;
    box-sizing: border-box;
    margin-left: 25px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    background: royalblue;
    border-radius: 10px;
    color: #fff;
    
}

.title{
    line-height: 35px;
    font-size: 10px;
    color: darkgrey;
}
.title :nth-child(1){
    float: left;
    margin-right: 25px;
}

.title :nth-child(2){
    float: left;
}


.subtitle{
    float: right;
    font-size: 10px;
    padding-right: 10px;
    line-height: 35px;
    color: darkgrey;
}

li img{
    position: absolute;
    padding-right: 70px;
}